{% extends "Login_Page/login_base_template.html" %}
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/preview.css' %}">
{% endblock %}

{% block title %}
    NCC (National Cadet Corps)
{% endblock %}

{% block start %}
  <div class="content">
      <!-- Admit Card Preview Section -->
      <div class="admit-card-preview">
          <h1>Preview Admit Card for {{ student.Name }}</h1>
          <img src="{% get_media_prefix %}Admit_Cards/{{ student.CBSE_No }}_admit_card.png" alt="Admit Card" class="admit-card-image">

          <!-- Approval and Rejection Buttons -->
          <div class="admit-card-actions">
            {% if perms.home.can_approve_admit_card %}
              <!-- Approval Form -->
              <form action="{% url 'approve_admit_card' student.CBSE_No %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn green-btn">Approve Admit Card</button>
              </form>
            {% endif %}
            {% if perms.home.can_send_admit_card_for_approval %}
              <!-- Approval Form -->
              <form action="{% url 'send_for_approval' student.CBSE_No %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Send For Approval</button>
              </form>
            {% endif %}
            {% if perms.home.can_reject_admit_card %}
              <!-- Rejection Form -->
              <form action="{% url 'reject_admit_card' student.CBSE_No %}" method="post" class="reject-form">
                  {% csrf_token %}
                  <div class="reject-bar">
                      <textarea name="rejection_reason" placeholder="Enter reason for rejection" class="reject-textarea"></textarea>
                      <button type="submit" class="btn red-btn reject-btn">Reject</button>
                  </div>
              </form>
            {% endif %}
              
          </div>
          <!-- Navigation Buttons -->
          <div class="admit-card-navigation">
              {% if prev_student %}
                  <a href="{% url 'Preview_Admit_Card' %}?student_id={{ prev_student.id }}&action=prev" class="btn">Previous</a>
              {% endif %}
              {% if next_student %}
                  <a href="{% url 'Preview_Admit_Card' %}?student_id={{ next_student.id }}&action=next" class="btn">Next</a>
              {% endif %}
          </div>            
      </div>
  </div>
{% endblock %}

